#project-dataset-submission-account .resizable {
  width: 36%;
}

#project-dataset-submission-account .form-required {
  color: red;
}

.captcha {
  position: relative;
  left: -75px;
  width: 31%;
}

.form-item-captcha-response > input {
    float: left;
    position: relative;
    left: 254px;
}

#info_markup {
    font-style: italic;
    font-weight: 200;
    font-size: 1.3em;
    margin-bottom: 14px;
}
